@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-white font-sans text-black antialiased;
  }

  *{
    outline: none;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  button:disabled,
  [aria-disabled="true"] {
    cursor: not-allowed;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-50;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 rounded-full;
  }
}

@keyframes scan {
  from { transform: translateY(0); }
  to { transform: translateY(256px); }
}

.animate-scan {
  animation: scan 3s linear infinite;
}
